@charset "utf-8";

html{
    font-size: 16px;
}
.wrap{
    padding: 0px 40px;
}

/* header */
.fixed-sub{
    height: 0;
}
.fixed-sub.active{
    height: 80px;
}
header{
    width: 100%;
    padding: 0px 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    background-color: #ffffff;
}
header.active{
    position: fixed;
    opacity: .9;
    top: 0;
    left: 0;  
    border-bottom: 1px solid #e5e8eb;
}
header .h-logo{
    width: 195px;
    height: 40px;
}
header .h-menu{
    display: flex;
    margin-left: -50px;
}
header .h-menu .menu{
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 16px;
    border-radius: 6px;
    margin-left:24px;
    color: #1a1a1a;
    cursor: pointer;
}
header .h-menu .in-svg{
    padding: 6px 8px 6px 16px;
}
header .h-menu .menu:hover{
    background-color: #ececec;
}
header .h-menu .menu svg{
    width: 26px;
    height: 26px;
    margin-left: 6px;
}
header .h-btn{
    padding: 10px 16px;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #484848;
    border-radius: 10px;
    cursor: pointer;
}

header .h-menu .menu .menu-inout{
    position: absolute;
    top: 100%;
    left: 0;
    padding: 14px 12px;
    border-radius: 6px;
    background-color: #ffffff;
    display: none;
    z-index: 99;
}
header .h-menu li .menu-inout.active{
    display: block;
}
header .h-menu .menu .menu-inout ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .h-menu .menu .menu-inout ul li{
    display: block;
    color: #1a1a1a;
    font-size: 0.875rem;
    padding: 10px 8px;
    border-radius: 4px;
    white-space: nowrap;
}

/* banner */
.banner{
    margin: 0px auto;
    height: 50vw;
    width: 100%;
    border-radius: 40px;
    overflow: hidden;
}
.banner .banner-video{
    position: relative;
}
.banner .txt-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}
.banner .txt-box h1{
    font-size: 3.75rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
}
.banner .txt-box .banner-btn{
    margin-top: 50px;
    padding: 30px 70px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #1a1a1a;
    font-size: 1.875rem;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}
.banner .txt-box .banner-btn:hover{
    background-color: hsla(0,0%,100%,.85);
}



/* sec-1 */
.sec-1{
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    padding: 36px 0px;
    margin-right: -16px;
}
.sec-1 .box{
    height: 100%;
    width: 100%;
    margin-right: 16px;
    border-radius: 16px;
    box-shadow: 0px 0px 40px 20px rgba(0,0,0,0.1);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}
.sec-1 .box:hover{
    transform: translateY(-7px);
}
.sec-1 .box-padding{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.sec-1 .box .txt-box{
    margin-left: 18px;
    width: 116px;
    height: 55px;
    display: flex;
    flex-direction: column;
}
.sec-1 .box .txt-box p{
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    position: relative;
    margin-bottom: 8px;
}
.sec-1 .box .txt-box span{
    font-size: 0.75rem;
    color: #1a1a1a;
    font-weight: 500;
}
.sec-1 .box1 .sec1-logo{
    width: 50px;
    height: 37px;
    color: #087ef7;
}
.sec-1 .box2 .sec1-logo{
    width: 42px;
    height: 42px;
    color: #087ef7;
}
.sec-1 .box3 .sec1-logo{
    width: 44px;
    height: 44px;
    color: #087ef7;
}
.sec-1 .box4 .sec1-logo{
    width: 47.5px;
    height: 36px;
    color: #087ef7;
}
.sec-1 .box5 .sec1-logo{
    width: 44px;
    height: 39px;
    color: #087ef7;
}
.sec-1 .box6 .sec1-logo{
    width: 30px;
    height: 41px;
    color: #087ef7;
}
.sec-1 .box7 .sec1-logo{
    width: 40px;
    height: 37px;
    color: #087ef7;
}
.sec-1 .sec-padding{
    margin: 0px auto;
    display: flex;
}

.sec-2{
    background: url(../img/sec-2.png) no-repeat center;
    background-size: cover;
    height: 31.25vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
.sec-2 .txt-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-2 .txt-box h2{
    font-size: 1.875rem;
    font-weight: 600;
    color: #ffffff;
    align-items: center;
    margin-bottom: 32px;
}
.sec-2 .txt-box h1{
    font-size: 3.5rem;
    font-weight: 600;
    color: #ffffff;
    align-items: center;
    margin-bottom: 72px;
}
.sec-2 .txt-box .sec2-btn{
    display: flex;
    align-items: center;
}
.sec-2 .txt-box .sec2-btn button{
    width: 224px;
    height: 58px;
    border-radius: 10px;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
}
.sec-2 .txt-box .sec2-btn svg{
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
}
.sec-2 .txt-box .sec2-btn .btn1{
    margin-right: 16px;
    color: #1a1a1a;
    background-color: #ffffff;
}
.sec-2 .txt-box .sec2-btn .btn1:hover{
    background-color: hsla(0,0%,100%,.75);
}
.sec-2 .txt-box .sec2-btn .btn2{
    margin-right: 16px;
    color: #ffffff;
    background-color: #484848;
}
.sec-2 .txt-box .sec2-btn .btn2:hover{
    background-color: hsla(0, 0%, 34%, 1);
}

.sec-3{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-3 h1{
    margin-bottom: 80px;
    font-size: 2.25rem;
    font-weight: 600;
}
.sec-3 .sec3-cont{
    margin: 0px auto;
    width: 1200px;
}
.sec-3 .sec3-cont .box-set{
    display: flex;
    margin-right: -20px;
    margin-bottom: 60px;
}
.sec-3 .sec3-cont .box{
    width: 393px;
    height: 380px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.08);
    overflow: hidden;
    transition: 0.3s;
}
.sec-3 .sec3-cont .box:hover{
    transform: translateY(-14px);
}
.sec-3 .sec3-cont .box .top-img{
    height: 140px;
    width: 100%;
    padding: 0px 20px;
    background-color: #F5F6F8;
    display: flex;
    justify-content: space-between;
}
.sec-3 .sec3-cont .box .top-img img{
    height: 100%;
    width: 140px;
}

.sec-3 .sec3-cont .box .txt-box{
    width: 100%;
    height: 100%;
    padding: 30px 32px 30px 36px;
}
.sec-3 .sec3-cont .box .txt-box h2{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.sec-3 .sec3-cont .box .txt-box span{
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 58px;
}
.sec-3 .sec3-cont .box .txt-box a{
    margin-top: 58px;
    font-size: 0.875rem;
    font-weight: 400;
    float: right;
    display: flex;
    align-items: center;
    color: #0088ff;
}
.sec-3 .sec3-cont .box .txt-box a svg{
    color: #0088ff;
    width: 22px;
    height: 22px;
    transform: rotate(-90deg);
}

.sec-4{
    height: 400px;
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-top: 120px;
    background: url(../img/sec-5.jpg) no-repeat center;
    background-size: cover;
    margin-bottom: 140px;
}
.sec-4 .txt-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-4 h1{
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
}
.sec-4 span{
    font-size: 1.375rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.sec-5{
    margin: 0px auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-5 .title{
    margin-bottom: 120px;
    font-size: 2.25rem;
    font-weight: 600;
    color: #1a1a1a;
}
.sec-5 .box{
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-5 .box:nth-child(odd){
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}
.sec-5 .box .txt-box:nth-child(2n){
    margin-left: 75px;
}
.sec-5 .box .txt-box h2{
    font-size: 1.875rem;
    font-weight: 500;
}
.sec-5 .box .txt-box h1{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3.5rem;
    font-weight: 600;
    color: #1a1a1a;
}
.sec-5 .box .txt-box span{
    font-size: 1.5rem;
    font-weight: 400;
    color: #999999;
}
.sec-5 .box .txt-box h2:nth-child(1){
    color: #087EF7;
    display: flex;
    align-items: center;
}
.sec-5 .box .txt-box h2:nth-child(2){
    color: #80B22E;
}
.sec-5 .box .txt-box h2:nth-child(3){
    color: #35A9C6;
}
.sec-5 .box .txt-box h2:nth-child(4){
    color: #5F52C0;
}
.sec-5 .box .txt-box h2:nth-child(5){
    color: #CDA442;
}
.sec-5 .box .txt-box h2:nth-child(6){
    color: #4877E1;
}
.sec-5 .box .txt-box h2:nth-child(7){
    color: #E78865;
}
.sec-5 .box .txt-box h2:nth-child(8){
    color: #6AA2DE;
}

.sec-5 .box .txt-box h2 .s-circle{
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #087ef7;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 3px;
}
.sec-5 .box .txt-box h1 .l-circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #1a1a1a;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 8px;
    margin-bottom: 10px;
}
.sec-5 .box .box-img{
    display: flex;
    justify-content: center;
    border-radius: 14px;
}
.sec-5 .box1 .box-img{
    width: 685px;
    height: 528px;
    background-color: #A6D1FF;
}
.sec-5 .box2 .box-img{
    width: 685px;
    height: 603px;
    background-color: #C6E19A;
}
.sec-5 .box3 .box-img{
    width: 600px;
    height: 659px;
    background-color: #B7DFE9;
}
.sec-5 .box4 .box-img{
    width: 685px;
    height: 531px;
    background-color: #E0DCFF;
}
.sec-5 .box5 .box-img{
    width: 615px;
    height: 433px;
    background-color: #FEE4A7;
}
.sec-5 .box6 .box-img{
    width: 685px;
    height: 590px;
    background-color: #BBCDF6;
}
.sec-5 .box7 .box-img{
    width: 600px;
    height: 644px;
    background-color: #F0CABC;
}
.sec-5 .box8 .box-img{
    width: 685px;
    height: 530px;
    background-color: #A6D1FF;
}
.sec-5 .box .box-img img{
    margin-top: auto;
}
.sec-5 .box1 .box-img img{
    width: 577px;
    height: 488px;
}
.sec-5 .box2 .box-img img{
    width: 685px;
    height: 546px;
}
.sec-5 .box3 .box-img img{
    width: 501px;
    height: 594px;
}
.sec-5 .box4 .box-img img{
    width: 577px;
    height: 461px;
}
.sec-5 .box5 .box-img img{
    width: 615px;
    height: 380px;
}
.sec-5 .box6 .box-img img{
    width: 685px;
    height: 510px;
}
.sec-5 .box7 .box-img img{
    width: 600px;
    height: 574px;
}
.sec-5 .box8 .box-img img{
    width: 685px;
    height: 480px;
}

.sec-6{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec-6 .title{
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 100px;
}
.sec-6 .sec6-cont{
    display: flex;
    align-items: center;
    width: 100%;
}
.sec-6 .sec6-cont .big-box{
    width: 32.5%;
    height: 748px;
    border-radius: 40px;
    background-color: #49ACEF;
    padding: 80px 80px 140px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: 0.3s;
}
.sec-6 .sec6-cont .big-box:hover{
    transform: translateY(-14px);
}
.sec-6 .sec6-cont .big-box:hover .arrow{
    right: 30px;
    opacity: 1;
}
.sec-6 .sec6-cont .big-box h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 26px;
    color: #1a1a1a;
}
.sec-6 .sec6-cont .big-box span{
    font-size: 1rem;
    font-weight: 400;
    color: #1a1a1a;
}
.sec-6 .sec6-cont .big-box .box-icon{
    width: 322px;
    height: 168px;
    margin: 0px auto;
}
.sec-6 .sec6-cont .big-box .arrow{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 36px;
    top: 36px;
    color: #1a1a1a;
    transition: 0.3s;
    opacity: .9;
    cursor: pointer;
}
.sec-6 .sec6-cont .small-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.sec-6 .sec6-cont .small-box .box{
    margin-left: 2%;
    width: 47.5%;
    height: 365px;
    border-radius: 40px;
    padding: 36px 36px 50px 36px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
}
.sec-6 .sec6-cont .small-box .box:hover{
    transform: translateY(-10px);
}
.sec-6 .sec6-cont .small-box .box:hover .arrow{
    right: 30px;
    opacity: 1;
}
.sec-6 .sec6-cont .small-box .box h1{
    margin-bottom: 12px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #1a1a1a;
}
.sec-6 .sec6-cont .small-box .box span{
    font-size: 1.25rem;
    font-weight: 400;
    color: #1a1a1a;
}
.sec-6 .sec6-cont .small-box .box .arrow{
    width: 32px;
    height: 32px;
    position: absolute;
    right: 36px;
    top: 36px;
    color: #1a1a1a;
    transition: 0.3s;
    opacity: .9;
    cursor: pointer;
}
.sec-6 .sec6-cont .small-box .box1{
    background-color: #69D787;
    margin-bottom: 18px;
}
.sec-6 .sec6-cont .small-box .box2{
    background-color: #FACA40;
    margin-bottom: 18px;
}
.sec-6 .sec6-cont .small-box .box3{
    background-color: #A980FF;
}
.sec-6 .sec6-cont .small-box .box4{
    background-color: #5589FF;
}
.sec-6 .sec6-cont .small-box .box1 .box-icon{
    width: 155px;
    height: 172px;
    margin-right: 32px;
    margin-left: auto;
}
.sec-6 .sec6-cont .small-box .box2 .box-icon{
    width: 147px;
    height: 171px;
    margin-right: 34px;
    margin-left: auto;
}
.sec-6 .sec6-cont .small-box .box3 .box-icon{
    width: 190px;
    height: 173px;
    margin-right: 34px;
    margin-left: auto;
}
.sec-6 .sec6-cont .small-box .box4 .box-icon{
    width: 197px;
    height: 174px;
    margin-right: 32px;
    margin-left: auto;
}

.sec-7{
    margin-top: 140px;
    width: 100%;
    height: 340px;
    background: url(../img/sec-8/bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-7 .cont{
    display: flex;
    align-items: center;
    margin-left: -20px;
}
.sec-7 .cont .box{
    width: 346px;
    height: 140px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    padding-left: 36px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}
.sec-7 .cont .box:hover{
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.08);
}
.sec-7 .cont .box .txt-box{
    margin-left: 24px;
}
.sec-7 .cont .box .txt-box span{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -2.5%;
    color: #4E5968;
}
.sec-7 .cont .box .txt-box p{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #1a1a1a;
}
.sec-7 .cont .box .txt-box p svg{
    height: 22px;
    width: 22px;
    margin-left: 4px;
    transform: rotate(-90deg);
}
.sec-7 .cont .box1 .box-logo{
    width: 44px;
    height: 70px;
}
.sec-7 .cont .box2 .box-logo{
    width: 53px;
    height: 52px;
}
.sec-7 .cont .box3 .box-logo{
    width: 53px;
    height: 52px;
}

footer{
    width: 100%;
    height: initial;
    padding: 40px;
    display: flex;
    flex-direction: column;
    background-color: #DDDDDD;
}
footer .f-top{
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}
footer .f-top li{
    font-size: 0.875rem;
    margin-right: 30px;
    color: #8B95A1;
    font-weight: 500;
    cursor: pointer;
}
footer .f-top .bold{
    font-weight: 500;
    color: #4E5968;
}
footer .f-mid{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}
footer .f-mid .est{
    background: url(../img/footer/spr_logo_estsoft.722c4838.png) no-repeat top;
    background-size: cover;
    width: 64px;
    height: 18px;
    margin-right: 40px;
    cursor: pointer;
}
footer .f-mid .channel{
    margin-top: auto;
    margin-right: 22px;
    cursor: pointer;
}
footer .f-mid .ch1{
    width: 35px;
    height: 16px;
}
footer .f-mid .ch2{
    width: 19px;
    height: 14px;
}
footer .f-mid .ch3{
    width: 16px;
    height: 16px;
}
footer .f-bot p{
    font-size: 0.875rem;
    font-weight: 500;
    color: #8B95A1;
}
footer .f-bot .m-span{
    display: flex;
    align-items: center;
}
footer .f-bot .m-span span{
    font-size: 0.875rem;
    font-weight: 500;
    color: #8B95A1;
    margin-right: 24px;
}